body {
  background-color: black;
}
h1{
    color: white;
    text-align: center;
    font-size: 60px;
}
.buttons {
  display: flex;
  margin: 40px;
  justify-content: space-evenly;
}
.rock {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.paper {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.scissors {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.verdict {
  color: white;
  font-size: 92px;
  text-align: center;
  margin: 30px auto;
  margin-top: 115px;
  font-family: Montserrat;
  font-weight: 200;
  width: 400px;
  animation: fadeIn3 5s;
}

.startVerdict{
    color: white;
  font-size: 86px;
  text-align: center;
  margin: 30px auto;
  margin-top: 70px;
  font-family: Montserrat;
  font-weight: 200;
  width: 400px;
  animation: startVerdict 2s;
  animation-iteration-count: infinite;
}
@font-face {
  font-family: Montserrat;
  src: url(Montserrat.ttf);
}

.game-results {
  display: flex;
  width: 80%;
  justify-content: space-between;
  color: white;
  font-family: Montserrat;
  font-weight: 300;
  margin: 20px auto;
  font-size: 44px;
}

.user-choice,
.computer-choice {
  padding: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
   } 50% {
        opacity: 10;
    }
  
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
   } 35% {
        opacity: 0;
    }
  
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
   } 75% {
        opacity: 0;
    }
  
  100% {
    opacity: 1;
  }
}


.user-choice{
    animation: fadeIn 5s;
}

.computer-choice{
    animation: fadeIn2 5s;
}

img{
   display: block;
   margin: 0px auto;
}

@keyframes startVerdict{
    0%{
        opacity: 1;
        color: rgb(20,20,20);
        font-size: 78px;

    }
    50%{
        opacity: 100;
        color: white;
        font-size: 86px;
    }
    100%{
        opacity: 1;
        color:rgb(20,20,20);
        font-size: 78px;
    }
}